# Ignore file with private API keys
config.py
env/
__pycache__/
*.pyc
write_test.csv
test.csv
test_process.csv
read_test_process.csv
cookies.json
new_zip_file.zip
processed.xml
test_database.db
output_directory/
test.txt
test.db
tempfolder
*.zip
*.csv